// .blockquote {
//   // padding-left: $spacer * 4;
//   //  color: $utsmokey;
//   // background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4KPCEtLSBHZW5lcmF0b3I6IEFkb2JlIElsbHVzdHJhdG9yIDI0LjMuMCwgU1ZHIEV4cG9ydCBQbHVnLUluIC4gU1ZHIFZlcnNpb246IDYuMDAgQnVpbGQgMCkgIC0tPgo8c3ZnIHZlcnNpb249IjEuMSIgaWQ9IkxheWVyXzEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IgoJIHZpZXdCb3g9IjAgMCAyNCAyNCIgc3R5bGU9ImVuYWJsZS1iYWNrZ3JvdW5kOm5ldyAwIDAgMjQgMjQ7IiB4bWw6c3BhY2U9InByZXNlcnZlIj4KPHN0eWxlIHR5cGU9InRleHQvY3NzIj4KCS5zdDB7ZmlsbDojRkY4MjAwO30KPC9zdHlsZT4KPHBhdGggY2xhc3M9InN0MCIgZD0iTTE0LDIxdi03LjRDMTQsNy45LDE3LjcsNCwyMywzbDEsMi4yYy0yLjQsMC45LTQsMy42LTQsNS44aDR2MTBIMTR6IE0wLDIxdi03LjRDMCw3LjksMy43LDQsOSwzbDEsMi4yCglDNy42LDYuMSw2LDguOCw2LDExaDR2MTBIMHoiLz4KPC9zdmc+Cg==');
//   // background-repeat: no-repeat;
//   // background-size: $spacer * 3 $spacer * 3;
// }
.wp-block-quote {
  @extend .blockquote;
}

.blockquote {
  // background-color: white;
  background-image: none;
  display: flex;
  flex-direction: column;
  margin: calc($spacer * 3) auto;
  width: 94%;
  padding: 0;
  // padding-top: calc($spacer * 4);
  position: relative;
  @media screen and (min-width: 1500px) {
    margin-left: calc($spacer * -3);
  }

  & > p {
    border-left: 2px solid $utorange;
    padding-left: calc($spacer * 2);
    padding: $spacer calc($spacer * 3);

    font-size: calc($p-font-size * 2);
  }

  &:before {
    // animation: quoteMarks 1s linear infinite;
    // animation-play-state: paused;
    // animation-delay: calc(var(scroll) * -1s);
    content: open-quote;
    left: calc($spacer * -0.9);
    top: calc($spacer * 2);
    font-family: $font-family-sans-serif;
    // font-weight: $font-weight-ultra;
    font-weight: $font-weight-bolder;
    font-size: calc($h1-font-size * 1.6);
    line-height: calc($line-height-base * 1.2) !important;
    // font-size: clamp(8rem, 20vw, 13rem);
    display: block;
    color: $utorange;
    padding: 0;
    margin: 0;
    position: relative;
    @media screen and (min-width: 700px) {
      left: calc($spacer * -5);
      line-height: calc($line-height-base * 0.2) !important;
    }
    // top: (-1 * ($spacer * 0.5));
  }
  &:after {
    visibility: hidden;
    content: close-quote;
    // must close quote or else, netxt instance of quote will use a single quote
  }
  p {
    margin-top: 0;
  }

  cite {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    display: relative;
    line-height: 90%;

    // &:before {
    //   content: " ";
    //   position: relative;
    //   background-color: $utorange;
    //   height: 3rem;
    //   width: 100%;
    //   display: inline-block;
    //   flex-basis: 40%;
    //   right: 0;
    // }

    em {
      font-size: 80%;
      // line-height: 85%;
      // margin-top: 0;
    }
    p:first-of-type {
      padding-bottom: 0.5rem;
      box-shadow: inset 0px -1px $utorange;
      flex-basis: 60%;
      width: fit-content;
    }
    p + p {
      font-size: 70%;

      flex-basis: 80%;
    }
    margin-top: calc($spacer * 2);
    // &:before {
    //   content: "";
    //   background-color: $utorange;
    //   width: 80vw;
    //   height: 2rem;
    //   display: aboslute;
    // }
  }
}

.hero {
  .blockquote {
    // place quote farther away to the top
    margin: 1rem 0;
    & > p {
      border-left: 2px solid $utorange;
      padding-left: calc($spacer * 2);
      padding: $spacer calc($spacer * 3);
      font-size: calc($p-font-size * 2);
      // line-height: calc($line-height-base * 0.8);
      line-height: calc($line-height-base * 1);
    }

    &:before {
      left: calc($spacer * -0.9);
      bottom: calc($spacer * -0.25);
      font-size: calc($h1-font-size * 1.6);
      line-height: calc($line-height-base * 1.2) !important;
      margin: 0;
      padding: 0;
    }
  }
}

.thoughtHero .blockquote,
.CalloutQuote .blockquote {
  width: 100%;

  margin-left: 0;
  margin: $spacer 0;

  @media screen and (max-width: 700px) {
    &:before {
      // moves quote marks to top on mobile
      left: calc($spacer * -0.9);
      bottom: calc($spacer * -0.25);
      font-size: calc($h1-font-size * 1.6);

      font-weight: $font-weight-bolder;
      // line-height: calc($line-height-base * 1.2);
      line-height: calc($line-height-base * 1);
      margin: 0;
      padding: 0;
    }
  }
}
