// This file is for genesis's odd css naming compatiblitiy.
// Note: Do this sparingly, and ONLY if necessary. Our goal should be to make the theme output HTML that is compatible with the framework.




.title-area {
  @extend .container;
}
.wrap {
  @extend .container;
}
.site-inner {
  @extend .container;
}
.full-width-content .site-inner {
  margin-left: 0;
  margin-right: 0;
  padding-left: 0;
  padding-right: 0;
  max-width: 100%;
}

.breadcrumb {
  margin-bottom: calc($spacer * 2);
  font-size: calc(var(--wp--custom--typography--small) * 0.8);
  color: $utsmokey;
}
.breadcrumb-link-wrap {
  // @extend .breadcrumb-item;

  .breadcrumb-link {
    padding-left: calc($spacer / 2);
    padding-right: calc($spacer / 2);
    color: $utlinkriver;
    &:hover {
      color: #114c81;
    }
  }
  &:first-child {
    padding-left: 0 !important;
  }
}
