img,
figure {
  @extend .img-fluid;
}
figcaption {
  //	color: $utsmokey;
  font-size: $font-size-sm;
  padding: $spacer 0;
  font-weight: $font-weight-light;
}
.wp-post-image {
  width: 100%;
  height: auto;
}

.wp-block-image {
  &.alignfull {
    margin: 0 calc(50% - 50vw);
  }
}
