@use "../custom_variables";

// Modal header
// Top section of the modal w/ title and dismiss
.modal-header,
.offcanvas-header {
	border-bottom: none;

	.btn-close {
		padding: (custom_variables.$modal-header-padding-y * 0.5)
			(custom_variables.$modal-header-padding-x * 0.5);
		margin: (custom_variables.$modal-header-padding-y * -0.5)
			(custom_variables.$modal-header-padding-x * -0.5)
			(custom_variables.$modal-header-padding-y * -0.5) auto;
		transition: all 0.2s ease-out;

		&:hover {
			transform: scale(1.4);
			transition: all 0.2s ease-out;
		}
	}
}
.modal-title {
	margin-bottom: clamp(2rem, 10vw, 5rem) !important;
	margin-left: clamp(2rem, 10vw, 5rem) !important;
	line-height: custom_variables.$modal-title-line-height;
	text-transform: uppercase;
}
