//Pattern solid news triple

.solid-news-triple {
  overflow: hidden;
  .has-light-grey-to-white-gradient-background {
    transform: scaleX(2.5);

    @media screen and (min-width: 1200px) {
      transform: scaleX(2.5);
    }
    @media screen and (min-width: 1200px) {
      transform: none;
    }
  }
  .wp-block-columns {
    flex-direction: column;
    width: 100%;
    .chancellorFeaturePost {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
    }
    // background-color: $utgray2;
    img {
      width: 90%;
    }
    @media screen and (min-width: 1200px) {
      flex-direction: column;
      background-color: none;
      .chancellorFeaturePost {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        > * {
          flex: 1;
        }
      }
      img {
        width: 90%;
      }
    }

    @media screen and (min-width: 1536px) {
      flex-direction: row;
      .chancellorFeaturePost {
        display: flex;
        flex-direction: column;

        // flex-wrap: wrap;
      }
    }
  }
}

.featuredVideo {
  margin: 0;
  padding: 0;

  .has-white-to-clear-gradient-background {
    transform: scaleX(0.85);
    transform: scaleX(0.45);
    // transform: scaleY(0);
    transform-origin: top left;

    transition: all 0.2s ease-out;

    @media screen and (min-width: 1200px) {
      transform: scaleX(0.9);

      transition: all 0.2s ease-out;
    }
    @media screen and (min-width: 1536px) {
      transform: none;
      border: none;

      transition: all 0.2s ease-out;
    }

    @media screen and (min-width: 2370px) {
      transform: scaleX(0.9);
      border: none;

      transition: all 0.2s ease-out;
    }
  }
  .flagshipVideo {
    margin: 0;
    padding: 0;
    height: min-content !important;
  }
}

.twoUp-gallery {
  margin: 0 auto;
  // border: 2px solid red;
  max-width: 1732px;
  padding: 0;
  & .is-layout-flow > .alignleft {
    margin-inline-end: 0;
  }
  // .wp-block-columns {
  //   // margin-bottom: -5rem;
  //   @include media-breakpoint-up(md) {
  //     margin-bottom: 0;
  //   }
  // }

  .wp-block-image.alignleft {
    margin-right: 0 !important;
  }
  .wp-block-image.alignright {
    margin-left: 0 !important;
  }  

  .twoUp-gallery-img-sm {
    display: block;
    @include media-breakpoint-up(sm) {
      margin-bottom: 0;
      -webkit-margin-start: 0;
      margin-inline-start: 0;
    }
    &.alignright {
      margin-inline-start: 0; /* makes inner image not have a start margin */
    }
    img {
      // margin-bottom: 5rem;
      max-width: 80vw;
      margin-right: clamp(1.5vw, 2rem, 3vw);
      margin-bottom: 0;
      @include media-breakpoint-up(md) {
        margin-right: 0;
        max-width: 100%;

        margin-bottom: clamp(1vw, 3rem, 4.5vw);
        margin-bottom: clamp(2vw, 4rem, 5vw);
      }
    }
  }
  .twoUp-gallery-img-lg {
    &.alignright {
      margin-inline-start: 0; /* makes inner image not have a start margin */
    }
    img {
      max-width: 100%;
      margin-right: 0;
    }
  }
}
