.card.overlay {
  &::before {
    content: ' ';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0%;
  }
  &.overlay-0::before {
    opacity: 0%;
  }
  &.overlay-10::before {
    opacity: 10%;
  }
  &.overlay-20::before {
    opacity: 20%;
  }
  &.overlay-30::before {
    opacity: 30%;
  }
  &.overlay-40::before {
    opacity: 40%;
  }
  &.overlay-50::before {
    opacity: 50%;
  }
  &.overlay-60::before {
    opacity: 60%;
  }
  &.overlay-70::before {
    opacity: 70%;
  }
  &.overlay-80::before {
    opacity: 80%;
  }
  &.overlay-90::before {
    opacity: 90%;
  }
  &.overlay-100::before {
    opacity: 100%;
  }

  &.bg-primary::before {
    background-color: $primary;
  }
  &.bg-light::before {
    background-color: $light;
  }
  &.bg-secondary::before {
    background-color: $secondary;
  }
  &.bg-dark::before {
    background-color: $dark;
  }
}

// WP Compatibility

.wp-block-utksds-card p {
  @extend .card-text;
}

.card-group > div[class$='__inner-container'] {
  @extend .card-group;
}

.card-deck > div[class$='__inner-container'] {
  @extend .card-deck;
  /* not sure default bootstrap for card-deck is working */
}
.card-group div[class$='__inner-container'] div.card {
  // box-shadow: 0px 1px 3px 0px red !important;
  // background-color: red !important;
}
.card {
  /* base card overides */
  width: auto; // set width of card to fill column width
  word-wrap: break-word;
  .card-img-top {
    margin: 0 0; // allows image to snug up to card-body for oa-square placement
    img {
      width: 100%;
      height: auto;
    }
  }
  .card-body {
    padding-bottom: 3rem !important; //bootstrap variables only allows top and bottom to be the same. Want more space on bottom.
    h2.card-title {
      font-weight: $font-weight-normal;
      font-size: 1.8rem;
      line-height: 1.95rem;
      margin-top: 0; // override _typography
    }
    h2.card-title a {
      color: $utlinkriver;
      text-decoration: none;
      &:hover {
        color: $btn-link-hover-color;
      }
    }

    p {
      margin-bottom: 1.5rem;
      a {
        text-decoration: none;
        &:hover {
          color: $btn-link-hover-color;
        }
      }
    }
  }
}

/* - - - - - - - - - - - - */
/* Orange Accent (oa) Flex Cards */
/* Cards are designed to be added inside a group block
     Parent Group Block: .card-oa-container
      Card Block: .card-oa-square
    Works best with odd number of cards
/* - - - - - - - - - - - - */

.card-oa-container > div[class$='__inner-container'] {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 1.5rem;
  align-items: stretch;
  margin: 2rem 0;
}

.card-oa-square {
  /* styling used for both group and column based cards with orange accent */
  height: auto;
  display: flex;
  flex-direction: column;
  flex: 1 1 100%;
  @media (min-width: 600px) {
    flex: 1 1 40%;
  }
  @media (min-width: 900px) {
    flex: 1 1 30%;
  }
  .card-body {
    flex-grow: 1;
    &:before {
      content: '';
      width: 2rem;
      height: 2rem;
      /* playing with scale of square */
      // width: calc((3vw + 1vw) * 0.5);
      // height: calc((3vw + 1vw) * 0.5);
      display: block;
      position: relative;
      background-color: $utorange;
      left: -0.75rem;
      top: -3rem; // 2 rem padding + half height of square
      // top: calc(-1 * (2rem + (2vw / 2)));
      margin: 0 0 !important;
      padding: 0;
      z-index: 10;
    }
  }
} // end card-oa-square

.wp-block-utksds-columns {
  &.card-oa-container {
    position: relative;
  }
}
