      .utkwds-statement,
      .utkwds-statement-base-bar,
.utkwds-callout-orange, 
.utkwds-callout {
 
  .wp-block-cover__inner-container{
    max-width: 550px;
    background-color: var(--wp--custom--color--cool-smokey);
  }
}

      .utkwds-dots-base-bar,
.utkwds-orange-bar-texture {
  background: url('./assets/svg/square-dot-orange-on-orange-horiz.svg') repeat-y;
}

.utkwds-sub-footer-link-list:last-child {
  margin-bottom: -30px;
}