/* TODO: remove old classes: is-style-utkwds-fancy-link, utkwds-fancy-link-group */
p.is-style-utkwds-cta-link a,
ul.utkwds-cta-link-group a,
p.is-style-utkwds-fancy-link a,
ul.utkwds-fancy-link-group a,
p.wp-block-post-excerpt__more-text a {
	font-weight: var(--wp--custom--font-weight--bold);
	text-decoration: none;

	&::after {
		content: "";
		display: inline-block;
		width: 23px;
		height: 15px;
		background-image: url("./assets/svg/rocky-top-arrow-02.svg");
		background-size: contain;
		background-repeat: no-repeat;
		margin-left: 0.625rem;
		vertical-align: middle;
		transform: translateY(-1px);
		transition: transform 0.2s ease-out;

		@media (min-width: 600px) {
			width: 25px;
			height: 17px;
		}
	}

	&:hover::after,
	&:focus::after {
		transform: translateY(-1px) translateX(6px);
	}
}

/* TODO: remove old classes: utkwds-fancy-link-group */

ul.utkwds-cta-link-group li:not(:first-child),
ul.utkwds-fancy-link-group li:not(:first-child) {
	margin-top: 1rem;
}
