.utkwds-cta-category-listing {
	.wp-block-post {
		padding: 0 0 30px 0;
		border-bottom: 1px solid var(--wp--preset--color--gray-2);

		&:last-child {
			border-bottom: none;
		}

		> .wp-block-group-is-layout-grid {
			grid-template-columns: 1fr 120px;
			grid-template-rows: auto 1fr auto;
			grid-template-areas:
				"title  image"
				"date   image"
				"text   text";
			row-gap: 10px;
		}

		.wp-block-post-featured-image {
			grid-area: image;
			width: 110px;
			
			img {
				object-position: top;
			}
		}

		.wp-block-post-title {
			grid-area: title;
		}

		.wp-block-post-date {
			grid-area: date;
		}

		.wp-block-post-excerpt {
			grid-area: text;
		}

		@media (min-width: 782px) {
			> .wp-block-group-is-layout-grid {
				grid-template-columns: 1fr 220px;
				grid-template-rows: auto auto 1fr;
				grid-template-areas:
					"title  image"
					"date   image"
					"text   image";
				row-gap: 10px;
			}

			.wp-block-post-featured-image {
				width: 220px;
			}
		}
	}

	.wp-block-terms-query {
		.wp-block-term {
			display: flex;
			flex-direction: column;
			gap: 20px;

			h2,
			div {
				margin: 0;
			}
		}
	}
}
