.utkwds-cta-category-listing {
	.wp-block-post {
		padding: 0 0 30px 0;
		border-bottom: 1px solid var(--wp--preset--color--gray-2);

		&:last-child {
			border-bottom: none;
		}
	}

	.wp-block-terms-query {
		.wp-block-term {
			display: flex;
			flex-direction: column;
			gap: 20px;

			h2,
			div {
				margin: 0;
			}
		}
	}
}
