.utkwds-full-width-hero,
.utkwds-hero-full-width {
	--offset: calc(var(--wp--preset--spacing--60) * 4);
	--offset-plus: calc(var(--offset) + 2em);
	--negative-offset: calc((var(--offset) + 1em) * -1);
	margin-bottom: var(--offset-plus);
	min-height: 600px;

	.wp-block-cover {
		margin-top: var(--wp--preset--spacing--x-small);
		overflow: visible;
	}

	.wp-block-cover__inner-container {
		margin-bottom: var(--negative-offset) !important;
		z-index: 1;

		& > * {
			bottom: var(--negative-offset);
		}
	}

	.utkwds-superhead {
		font-family: var(--wp--preset--font-family--condensed);
		font-size: var(--wp--preset--font-size--x-large);
		font-style: italic;
		line-height: 1.3;
		letter-spacing: 3px;
		text-transform: uppercase;
	}

	// ------
	// Deprecated, remove later
	.utkwds-orange-bar-texture {
		margin-block-start: 0px;
		min-height: var(--offset);
	}
	// ------

	.utkwds-hero-full-width-image {
		height: 40vw;
		max-height: 600px;
	}

	.utkwds-orange-bar {
		margin-block-start: 0px;
		min-height: 144px;
	}

	.utkwds-hero-full-width-content {
		position: relative;
		max-width: 1080px;
		margin-top: -134px;
		margin-right: calc(
			var(--wp--style--root--padding-right) * -1
		) !important;
		margin-left: calc(var(--wp--style--root--padding-left) * -1) !important;
		padding-top: var(--wp--preset--spacing--small);
		padding-right: var(--wp--style--root--padding-right);
		padding-left: var(--wp--style--root--padding-left);
		padding-bottom: var(--wp--preset--spacing--medium);
		z-index: 1;

		@media (min-width: 1080px) {
			margin-top: -204px;
			margin-right: auto !important;
			margin-left: auto !important;
			// padding-right: var(--wp--preset--spacing--medium);
			// padding-left: var(--wp--preset--spacing--medium);
			padding-right: 0;
			padding-left: 0;
		}
	}
}