.is-style-utkwds-left-frame img{
  box-shadow: -1.25rem 1.25rem 0 0px var(--wp--preset--color--orange);
  margin-bottom: 1.25rem;
}

.is-style-utkwds-right-frame img{
  box-shadow: 1.25rem 1.25rem 0 0px var(--wp--preset--color--orange);
  margin-bottom: 1.25rem;
}