.utkwds-in-page-notice {
	display: flex;
	flex-direction: row;
	@media (max-width: 782px) {
		flex-direction: column;
	}

	&::before {
		content: url("./assets/svg/information.svg");
		display: block;
		width: 70px;
		height: 70px;
	}
	& > .wp-block-group {
		padding-left: var(--wp--preset--spacing--x-small);

		@media (max-width: 782px) {
			padding-left: initial;
		}
	}
	& > .wp-block-group .utkwds-notice-heading strong {
		font-size: var(--wp--preset--font-size--large);
		font-weight: var(--wp--custom--font-weight--black);
		line-height: var(--wp--custom--line-height--heading);
		@media (max-width: 782px) {
			display: inline-block;
			margin-top: var(--wp--preset--spacing--x-small);
		}
	}
}
