.wp-block-latest-posts__list {
  padding-left: 0;
  li {
    border-bottom: 2px solid $utorange;
    padding-left: 0;
    padding: 1.4rem 1rem 0.5rem 1rem;
    list-style-type: none;
    position: relative;
    display: block;
    &:after {
      content: '';
      clear: both;
      display: table;
    }
    .wp-block-latest-posts__featured-image {
      display: block;
      margin-bottom: 1rem;
      overflow: hidden;
      &.alignleft {
        margin-right: 1.5rem;
        float: left;
      }
      &.alignright {
        margin-left: 1.5rem;
        float: right;
      }
      .size-thumbnail {
        position: relative;
        max-width: 10%;
        height: auto;
      }
      .size-medium {
        position: relative;
        max-width: 45%;
        height: auto;
      }
      .size-large {
        position: relative;
        max-width: 80%;
        height: auto;
      }
    }
    a {
      text-decoration: none;
      display: block;
      letter-spacing: 0.02rem;
    }
    .wp-block-latest-posts__post-author {
      font-size: 1.2rem;
      font-weight: $font-weight-light;
      display: inline-block;
      margin-right: 0.5rem;
      // note – designed with no pipe on author. Looks best with author and date turned on, or both off.
    }
    time {
      display: inline-block;
      font-weight: $font-weight-light;
      text-transform: uppercase;

      margin-bottom: $spacer;
      &:before {
        content: '|';
        color: $utorange;
        margin: 0 0.5rem 0 0;
      }
    }
    .wp-block-latest-posts__post-excerpt:not(:empty) {
      margin-top: 1.5rem;
      display: block;
      position: relative;
    }
  }
}

//  ------ ------ ----- Begin Grid Layout ------ ------ -----

.wp-block-latest-posts__list.is-grid {
  padding-left: 0;
  display: flex;
  gap: 3rem 0;
  flex-flow: row wrap;
  position: relative;
  justify-content: flex-start;

  li {
    flex: 1 0 calc(100% - 0.625em);
    margin-bottom: 1rem;

    .wp-block-latest-posts__featured-image {
      position: relative;
      display: block;
      margin-bottom: 1rem;
      margin-right: 0;
      &.alignleft {
        float: left;
        clear: left;
        width: auto;
        margin-right: 1rem;
        padding: 0;
        position: relative;
      }
      &.alignright {
        float: right;
        clear: right;
        width: auto;
        margin-left: 1rem;
        padding: 0;
        overflow: hidden;
      }
      // thumb, med, and large are all applied to a nested img inside __featured-image. The width of these items is only a percentage of the parent.
      .size-thumbnail {
        position: relative;
        max-width: 100%;
      }
      .size-medium {
        position: relative;
        max-width: 100%;
      }
      .size-large {
        position: relative;
        max-width: calc(100% - 1rem);
        height: auto;
      }
    }
  }
}

// the vertical lines are default applied to a before element on the li.
// As browser width increases and column size shrinks, the columns are shifting and breakpoints have been manually created.
// To keep vertical line not appearing in the first column. The border is explicitly added back to the nth-child elements that were removed in the previous breakpoint.
// The border is then explicitly removed for the nth-child that now fall in the first column.

// @media (min-width: 768px) {
//   .wp-block-latest-posts__list.is-grid.columns-2 {
//     padding-left: 0;
//     display: flex;
//     gap: 1rem 0;
//     flex-flow: row wrap;
//     position: relative;
//     justify-content: flex-start;
//     li {
//       padding: 1.5rem 4rem;
//       flex: 1 0 50%;
//       margin-bottom: 1rem;
//       &:before {
//         content: "";
//         border: 1px solid $utorange;
//         position: absolute;
//         top: 15%;
//         height: 70%;
//         left: 0;
//       }
//       &:nth-child(odd) {
//         margin-right: 0;
//         &:before {
//           border: none;
//         }
//       }
//     }
//   } // end .columns-2
//   .wp-block-latest-posts__list.is-grid.columns-3 {
//     padding-left: 0;
//     display: flex;
//     gap: 3rem 0;
//     flex-flow: row wrap;
//     position: relative;
//     justify-content: flex-start;
//     li {
//       padding: 1.5rem 4rem;
//       flex: 1 0 50%;
//       margin-bottom: 1rem;
//       &:before {
//         content: "";
//         border: 1px solid $utorange;
//         position: absolute;
//         top: 15%;
//         height: 70%;
//         left: 0;
//       }
//       &:nth-child(odd) {
//         margin-right: 0;
//         &:before {
//           border: none;
//         }
//       }
//     }
//   } // end .columns-3
//   .wp-block-latest-posts__list.is-grid.columns-4 {
//     padding-left: 0;
//     display: flex;
//     gap: 3rem 0;
//     flex-flow: row wrap;
//     position: relative;
//     justify-content: flex-start;
//     li {
//       padding: 1.5rem 4rem;
//       flex: 1 0 50%;
//       margin-bottom: 1rem;

//       &:before {
//         content: "";
//         border: 1px solid $utorange;
//         position: absolute;
//         top: 15%;
//         height: 70%;
//         left: 0;
//       }
//       &:nth-child(odd) {
//         margin-right: 0;
//         &:before {
//           border: none;
//         }
//       }
//     }
//   } // end .columns-4
// }
// @media (min-width: 825px) {
//   .wp-block-latest-posts__list.is-grid.columns-3 {
//     li {
//       padding: 2rem 4rem;
//       flex: 1 0 33%;
//       &:nth-child(2n - 1) {
//         margin-right: 0;
//         &:before {
//           border: 1px solid $utorange;
//         }
//       }
//       &:nth-child(3n + 1) {
//         margin-right: 0;
//         &:before {
//           border: none;
//         }
//       }
//     }
//   } // end .columns-3
//   .wp-block-latest-posts__list.is-grid.columns-4 {
//     li {
//       padding: 2rem 4rem;
//       flex: 1 0 33%;
//       &:nth-child(2n - 1) {
//         margin-right: 0;
//         &:before {
//           border: 1px solid $utorange;
//         }
//       }
//       &:nth-child(3n + 1) {
//         margin-right: 0;
//         &:before {
//           border: none;
//         }
//       }
//     }
//   } // end .columns-4
//   .wp-block-latest-posts__list.is-grid.columns-5 {
//     padding-left: 0;
//     display: flex;
//     gap: 3rem 0;
//     flex-flow: row wrap;
//     position: relative;
//     justify-content: flex-start;
//     li {
//       padding: 2rem 4rem;
//       flex: 1 0 33%;
//       margin-bottom: 1rem;
//       &:before {
//         content: "";
//         border: 1px solid $utorange;
//         position: absolute;
//         top: 15%;
//         height: 70%;
//         left: 0;
//       }

//       &:nth-child(3n + 1) {
//         margin-right: 0;
//         &:before {
//           border: none;
//         }
//       }
//     }
//   } // end .columns-5
// }

// @media (min-width: 1009px) {
//   .wp-block-latest-posts__list.is-grid.columns-4 {
//     li {
//       flex: 1 0 24%;
//       &:nth-child(3n + 1) {
//         margin-right: 0;
//         &:before {
//           border: 1px solid $utorange;
//         }
//       }
//       &:nth-child(4n + 1) {
//         margin-right: 0;
//         &:before {
//           border: none;
//         }
//       }
//     }
//   } // end .columns-4 at 1009
//   .wp-block-latest-posts__list.is-grid.columns-5 {
//     li {
//       flex: 1 0 24%; //4 rows at smaller sizes
//       &:nth-child(3n + 1) {
//         margin-right: 0;
//         &:before {
//           border: 1px solid $utorange;
//         }
//       }

//       &:nth-child(4n + 1) {
//         margin-right: 0;
//         &:before {
//           border: none;
//         }
//       }
//     }
//   } // end .columns-5
//   .wp-block-latest-posts__list.is-grid.columns-6 {
//     padding-left: 0;
//     display: flex;
//     gap: 3rem 0;
//     flex-flow: row wrap;
//     position: relative;
//     justify-content: flex-start;
//     li {
//       padding: 2rem 4rem;
//       flex: 1 0 24%; //4 rows at smaller sizes
//       margin-bottom: 1rem;

//       &:before {
//         content: "";
//         border: 1px solid $utorange;
//         position: absolute;
//         top: 15%;
//         height: 70%;
//         left: 0;
//       }
//       &:nth-child(4n + 1) {
//         margin-right: 0;
//         &:before {
//           border: none;
//         }
//       }
//     }
//   } // end .columns-6
// } // end @media 1009px

// @media (min-width: 1249px) {
//   .wp-block-latest-posts__list.is-grid.columns-5 {
//     li {
//       flex: 1 0 17%; // 5 columns
//       &:nth-child(4n + 1) {
//         &:before {
//           border: 1px solid $utorange;
//         }
//       }

//       &:nth-child(5n + 1) {
//         &:before {
//           border: none;
//         }
//       }
//     }
//   } // end .columns-5
//   .wp-block-latest-posts__list.is-grid.columns-6 {
//     li {
//       flex: 1 0 17%; // 5 columns
//       &:nth-child(4n + 1) {
//         margin-right: 0;
//         &:before {
//           border: 1px solid $utorange;
//         }
//       }
//       &:nth-child(5n + 1) {
//         &:before {
//           border: none;
//         }
//       }
//     }
//   } // end .columns-6
// }

// @media (min-width: 1496px) {
//   .wp-block-latest-posts__list.is-grid.columns-6 {
//     li {
//       flex: 1 0 12%;
//       &:nth-child(4n + 1) {
//         &:before {
//           border: 1px solid $utorange;
//         }
//       }

//       &:nth-child(5n + 1) {
//         &:before {
//           border: 1px solid $utorange;
//         }
//       }
//       &:nth-child(6n + 1) {
//         margin-right: 0;
//         &:before {
//           border: none;
//         }
//       }
//     }
//   } // end .columns-6
// }

/* - - - - - - - - - - - - */
/* Latest Post Universal */
/* - - - - - - - - - - - - */
.latestPostAddOn {
  text-transform: capitalize;
}

/* - - - - - - - - - - - - */
/* In Focus Section Lastest Posts */
/* - - - - - - - - - - - - */
.focusPost li {
  border-bottom: none;
}
.focusPost li a {
  font-weight: $font-weight-bolder;
  font-size: 1.5rem;
  line-height: 1.9rem;
  color: #707070;
}
.focusPost li a:hover {
  color: #1a73c5;
}

.focusPost div[class$='__post-excerpt'] {
  font-size: 1rem;
}

ul.chancellorFeaturePost {
  li {
    border-bottom: none;
    text-align: left;
    // padding-bottom: calc($spacer * 3);
    padding: calc($spacer * 3);
    // flex: 1;
    // border: 2px solid blue;
    // &:after {
    //   content: '';
    //   display: block;
    //   height: 2px;
    //   // border: 2px solid $utorange;
    //   width: 16%;
    //   width: 8%;
    //   margin: 0 80%;
    //   margin: 10px;
    //   background: $utorange;
    //   position: absolute;
    //   left: 42%;
    //   margin: 3rem 0 2rem 0;
    // }
    // &:last-child {
    //   &:after {
    //     content: none;
    //   }
    // }
    // &:before {
    //   content: 'READ MORE';
    //   font-size: var(--wp--custom--typography--tiny);
    //   position: absolute;
    //   bottom: calc($spacer * 5);
    //   display: block;
    //   width: 100%;
    // }
    a {
      // font-size: $h4-font-size;
      font-size: calc($h2-font-size * 0.6);
      // line-height: 90%;
      line-height: calc($headings-line-height * 1.3);
      font-weight: $font-weight-bold;
      color: $utsmokey;
      // &:first-letter {
      //   color: $utlinkriver;
      // }
      &:before {
        content: '';
        position: absolute;

        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 1;
      }
      &:hover {
        color: $utlinkriver;
      }
    }
    &:before {
      // using arrow made from squares – rocky top arrow.
      content: url('https://images.utk.edu/wds/rocky-top-arrow-02.svg');
      transform: scale(0.3);

      transition: all 0.2s ease-out;
      font-size: var(--wp--custom--typography--tiny);
      transform-origin: calc($spacer * 4.75) center;
      position: absolute;
      bottom: calc($spacer * 0.25);
      display: block;
      width: 100%;
      left: 0;
    }
    &:hover:before {
      margin-left: 0.7rem;
    }
  }

  &.wp-block-latest-posts__list.is-grid {
    display: flex;
    flex-direction: row !important;
    margin: 0;
    li {
      flex: 1 1 100%;
      text-align: left;
      // &:after {
      //   content: '';
      //   display: block;
      //   height: 2px;
      //   // border: 2px solid $utorange;
      //   width: 8%;
      //   // margin: 0 40%;
      //   margin: 10px;
      //   background: $utorange;
      //   position: absolute;
      //   left: 42%;
      //   margin: 3rem 0 2rem 0;
      // }

      @media screen and (min-width: 1000px) {
        flex: 1 1 auto;
        border-right: 2px solid $utorange;
        border-image: linear-gradient(
          to bottom,
          rgba(255, 255, 255, 0) 25%,
          rgba(255, 130, 0, 1) 25%,
          rgba(255, 130, 0, 1) 70%,
          rgba(255, 255, 255, 0) 70%
        );
        border-image-slice: 1;
        &:after {
          content: '';
          display: none;
        }
      }
      time {
        padding-top: $spacer;
        margin-left: -0.5rem;
        margin-bottom: $spacer;

        &:before {
          content: '' !important;
        }
      }
    }
    :last-child {
      border-right: none;
    }
  }
}

ul.specialPost {
  li {
    background: $utgray1;
    background: rgba(246, 246, 246, 0.9);
    padding: calc($spacer * 3);
    border-bottom: none;
    text-align: left;
    border-top: 6px solid $utorange;
    // &:after {
    //   content: '';
    //   display: block;
    //   // height: 2px;
    //   border: 2px solid $utorange;
    //   width: 16%;
    //   margin: 0 40%;
    //   margin: 10px;
    //   background: $utorange;
    //   position: relative;
    //   left: 42%;
    //   margin: 3rem 0 2rem 0;
    // }

    &:before {
      // using arrow made from squares – rocky top arrow.
      content: url('https://images.utk.edu/wds/rocky-top-arrow-02.svg');
      transform: scale(0.3);

      transition: all 0.2s ease-out;
      font-size: var(--wp--custom--typography--tiny);
      transform-origin: calc($spacer * 4.75) center;
      position: absolute;
      bottom: calc($spacer * 0.25);
      display: block;
      width: 100%;
      left: 0;
    }
    &:hover:before {
      margin-left: 0.7rem;
    }
    // &:before {
    //   content: url('https://images.utk.edu/wds/solid-arrow-03.svg');
    //   transform: scale(0.4);
    //   font-size: var(--wp--custom--typography--tiny);
    //   transform-origin: calc($spacer * 4.75) center;
    //   position: absolute;
    //   bottom: calc($spacer * 0.25);
    //   display: block;
    //   width: 100%;
    //   left: 0;
    // }
    a {
      // font-size: $h4-font-size;
      font-size: calc($h3-font-size * 0.6);
      // line-height: 90%;
      line-height: calc($headings-line-height * 1.3);
      font-weight: $font-weight-bold;
      color: $utsmokey;
      &:before {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 1;
      }
      &:hover {
        color: $utlinkriver;
      }
    }
  }
  &.wp-block-latest-posts__list.is-grid {
    display: flex;
    flex-direction: row !important;
    li {
      flex: 1 1 25%;
      text-align: left;
      min-width: 300px;
      &:after {
        content: '';
        display: block;
        // height: 2px;
        // border: 2px solid $utorange;
        width: 16%;
        margin: 0 40%;
        margin: 10px;
        background: $utorange;
        position: absolute;
        left: 42%;
        margin: 3rem 0 2rem 0;
      }
      @media screen and (min-width: 1200px) {
        flex: 1 1 100%;
        max-width: 320px;
        &:after {
          content: '';
          display: none;
        }
      }
      time {
        padding-top: $spacer;
        margin-left: calc($spacer * -0.5);
        margin-bottom: $spacer;

        &:before {
          content: '' !important;
        }
      }
    }
    :last-child {
      border-right: none;
    }
  }
}

// this controls the placement of the cards on the News and Messages page.
//
.alignHeroThoughtPostGroup {
  // used in the chancellor hero area
  @media screen and (min-width: 700px) {
    width: 60%;
    margin: 0 auto;
  }
}
