// // force media-text block to stack sooner
// .wp-block-media-text {
//   display: flex !important;
//   flex-direction: column;
//   justify-content: center;
//   .wp-block-media-text__media {
//     align-self: flex-start !important;
//     max-width: 90%;
//   }
//   @include media-breakpoint-up(xxl) {
//     display: grid !important;
//     border: none;
//     .wp-block-media-text__media {
//       max-width: none;
//     }
//   }
// }

.utkwds-media-text {
  border-top: 6px solid var(--wp--preset--color--orange);
}