@media (min-width: 600px) {
  .utkwds-news-2up,
  .utkwds-news-3up {
    li{
      border-right: 2px solid var(--wp--preset--color--orange);
    }
    li:last-child {
      border: none;
    }
  }
}

.utkwds-news-2up .wp-block-post-date,
.utkwds-news-3up li {

    &::after {
      content: url('./assets/svg/rocky-top-arrow-02.svg');
      transform: scale(.25);
      transform-origin: top left;
      display: block;
      position: absolute;
      transition: all .2s ease-out;
      padding-top: 2rem;
    }
    
    &:hover::after {
      margin-left: .4rem;
    }
}

.utkwds-news-2up li.wp-block-post {
  &:hover .wp-block-post-date::after {
      margin-left: .4rem;
    } 
}

.utkwds-news-2up li.wp-block-post a,
.utkwds-news-3up li.wp-block-post a {
  text-decoration-line: none;
  &:hover,
  &:focus {
    text-decoration-line: underline;
  }
}

.utkwds-news-2up li.wp-block-post,
.utkwds-news-3up li.wp-block-post {
  position: relative;
}
.utkwds-news-2up li.wp-block-post a,
.utkwds-news-3up li.wp-block-post a {
  &::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
  }
}