blockquote.utkwds-quote {
	display: flex;
	flex-direction: column;

	padding: var(--wp--preset--spacing--medium)
		var(--wp--preset--spacing--medium);
	position: relative;
	margin-top: var(--wp--preset--spacing--large);
	font-size: var(--wp--preset--font-size--medium);
	:first-child {
		margin-top: 0;
	}

	&::before {
		content: url("./assets/svg/quote.svg");
		position: absolute;
		--top: calc(-1 * var(--wp--preset--spacing--70));
		top: calc(var(--top) + var(--wp--preset--spacing--30));
	}

	@media (min-width: 480px) {
		padding: var(--wp--preset--spacing--medium);
	}

	cite {
		display: flex !important;
		flex-direction: column;
		gap: 4px;
		padding-top: var(--wp--preset--spacing--x-small);
		br {
			display: none;
		}

		padding-left: 3rem;

		@media (min-width: 360px) {
			padding-left: 4rem;
		}

		@media (min-width: 480px) {
			max-width: 236px;
			padding-left: 0;
			align-self: flex-end;
		}

		.name {
			--name-font-size: var(--wp--preset--font-size--small);
			position: relative;
			font-size: var(--name-font-size);
			font-weight: var(--wp--custom--font-weight--bold);
			font-style: normal;
			text-transform: uppercase;
			&::after {
				--height: 2px;
				--top: calc(var(--name-font-size) / 2);
				content: "";
				position: absolute;
				height: var(--height);
				background-color: var(--wp--preset--color--orange);
				top: calc(var(--top) + var(--height));

				width: 2rem;
				left: -3rem;

				@media (min-width: 360px) {
					width: 3rem;
					left: -4rem;
				}

				@media (min-width: 480px) {
					width: 90px;
					left: -110px;
				}
			}
		}
		.title,
		.college {
			font-size: var(--wp--preset--font-size--x-small);
		}
	}
}

.utkwds-quote-text-orange .utkwds-quote p {
	font-size: var(--wp--preset--font-size--medium);
}

.wp-block-media-text.utkwds-media-quote {
	margin-top: var(--wp--preset--spacing--medium);
}

.utkwds-media-quote .wp-block-media-text__media {
	height: 100%;
	img {
		object-fit: cover;
		height: 100%;
	}
}

.utkwds-media-quote .wp-block-media-text__content {
	align-self: start;

	.utkwds-quote {
		padding: var(--wp--preset--spacing--medium) 0;
		margin-top: 0px;
		margin-bottom: 0px;

		cite {
			@media (min-width: 601px) {
				padding-left: 4rem;
				align-self: flex-start;
				max-width: none;

				.name::after {
					width: 3rem;
					left: -4rem;
				}
			}

			@media (min-width: 1080px) {
				max-width: 236px;
				padding-left: 0;
				align-self: flex-end;

				.name::after {
					width: 80px;
					left: -100px;
				}
			}

			@media (min-width: 1280px) {
				.name::after {
					width: 90px;
					left: -110px;
				}
			}
		}
	}
}

.utkwds-quote-full-base-bar,
.utkwds-quote-media-full-base-bar,
.utkwds-quote-text-orange,
.utkwds-quote-media-orange {
	background: linear-gradient(
		180deg,
		rgba(255, 255, 255, 0) 50%,
		rgb(255, 130, 0) 50%
	);
	padding-bottom: var(--wp--preset--spacing--large);
}
.utkwds-quote-full-base-bar.is-style-orange-dots-horizontal,
.utkwds-quote-media-full-base-bar.is-style-orange-dots-horizontal,
.utkwds-quote-text-orange.is-style-orange-texture,
.utkwds-quote-media-orange.is-style-orange-texture {
	position: relative;

	&::before {
		content: "";
		position: absolute;
		top: 50%;
		left: 0;
		width: 100%;
		height: 50%;
		background: url("./assets/svg/square-dot-orange-on-orange-horiz.svg")
			repeat-y;
		z-index: 0;
	}
	.wp-block-media-text {
		position: relative;
		z-index: 1;
	}
}
