:root {
	--utk-secondary-navigation-button-icon: url("data:image/svg+xml;charset=utf-8,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cdefs%3E%3C/defs%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M11.5 0H8.5V8.5H0V11.5H8.5V20H11.5V11.5H20V8.5H11.5V0Z' style='fill: rgb(0, 0, 0);'%3E%3C/path%3E%3C/svg%3E");
}

//custom secondary navigation block
.wp-block-utkwds-secondary-navigation {
	.utkwds-section-nav-menu,
	.utkwds-section-nav-menu-mobile {
		menu {
			list-style: none;
			padding: 0;
			margin: 0;

			li {
				border-bottom: 2px solid var(--wp--preset--color--light);
				transition: all 0.2s ease-in-out;
				a {
					display: block;
					padding: var(--wp--preset--spacing--x-small);
					font-size: var(--wp--preset--font-size--x-small);
					text-decoration: none;
					color: var(--wp--preset--color--smokey);

					&:hover,
					&:focus {
						padding-left: calc(
							var(--wp--preset--spacing--x-small) + 5px
						);
						background-color: var(--wp--preset--color--light);
					}
				}
			}

			.page_parent {
				font-size: var(--wp--preset--font-size--normal);
				font-weight: var(--wp--custom--font-weight--bold);
			}
			.current_page_item {
				font-weight: var(--wp--custom--font-weight--bold);

				&:hover,
				&:focus {
					background-color: var(--wp--preset--color--light);
				}

				& > a {
					padding-bottom: calc(
						var(--wp--preset--spacing--x-small) / 2
					);
					&::before {
						content: url(./assets/svg/sidebar-arrow.svg);
					}
				}
				.children {
					list-style: none;
					margin-left: var(--wp--preset--spacing--x-small);
					padding-bottom: var(--wp--preset--spacing--x-small);

					li {
						border: none;
						margin-left: 0;
						a {
							font-weight: var(
								--wp--custom--font-weight--regular
							);
							padding: 0;
							padding-top: calc(
								var(--wp--preset--spacing--x-small) / 4
							);
							padding-bottom: calc(
								var(--wp--preset--spacing--x-small) / 4
							);
							padding-left: var(--wp--preset--spacing--x-small);
							&:hover,
							&:focus {
								padding-left: calc(
									var(--wp--preset--spacing--x-small) + 5px
								);
							}
						}
					}
				}
			}
		}
	}

	.utkwds-section-nav-menu {
		.page_parent {
			border-top: 2px solid var(--wp--preset--color--orange);
		}
	}

	.utkwds-section-nav-menu-mobile-button {
		border: none;
		color: var(--wp--custom--color--river);
		font-family: var(--wp--preset--font-family--primary);
		font-size: var(--wp--preset--font-size--x-small);
		font-weight: var(--wp--custom--font-weight--bold);
		line-height: var(--wp--custom--line-height--normal);
		text-align: left;
		text-transform: uppercase;

		position: relative;
		padding: var(--wp--preset--spacing--x-small);
		width: 100%;

		&:before {
			content: "";
			background-color: var(--wp--custom--color--river);
			position: absolute;
			-webkit-mask-image: var(--utk-secondary-navigation-button-icon);
			mask-image: var(--utk-secondary-navigation-button-icon);
			-webkit-mask-position: 50% 50%;
			mask-position: 50% 50%;
			transform: translateY(-50%);
			transition-duration: 400ms;
			transition-property: transform;
			top: 50%;
			right: 1.25rem;
			width: 16px;
			height: 16px;
		}

		&[aria-expanded="true"] {
			border-bottom: 2px solid var(--wp--preset--color--orange);
		}
		&[aria-expanded="true"]:before {
			transform: translateY(-50%) rotate(45deg);
		}
	}
	.utkwds-section-nav-menu-mobile {
		border: 2px solid var(--wp--preset--color--light);

		menu {
			li:last-child {
				border-bottom: none;
			}
		}
	}
}

//pattern container block/columns
.utkwds-sidebar-navigation {
}
