.tabgroup-outer-wrapper {
  position: relative;

  &::before,
  &::after {
    content: '';
    position: absolute;
    bottom: 0;
    top: 0;
    width: 40px;
    opacity: 0;
    pointer-events: none;
    z-index: 1;
  }

  &::before {
    left: 0;
    background-image: linear-gradient(to left, rgb(255,255,255,0), rgb(255,255,255,1));
  }

  &::after {
    right: 0;
    background-image: linear-gradient(to right, rgb(255,255,255,0), rgb(255,255,255,1));
  }

  &:not(.is-scrolled-left)::before {
    opacity: 1;
  }

  &:not(.is-scrolled-right)::after {
    opacity: 1;
  }

  &.is-ready::before,
  &.is-ready::after {
    transition: opacity 0.25s ease-in-out;
  }
}

.tabgroup-inner-wrapper {
  overflow-x: auto;
  width: 100%;
  padding-bottom: 1px;
  scroll-snap-type: x mandatory;

  position: relative;
  &::after {
    content: '';
    position: absolute;
    bottom: 0;
    height: 1px;
    left: 0;
    width: var(--tabgroup-width,100%);
    background-color: #bdbdbd;
  }
}

.nav-tabs.main-tabs {

  flex-wrap: nowrap;
  border-bottom: none;

  --bs-nav-link-padding-x: 1rem;
  --bs-nav-link-padding-y: 1rem;
  --bs-nav-tabs-border-radius: 0px;
  --bs-nav-tabs-border-color: #bdbdbd;


  align-items: flex-end;
  .nav-link {
    scroll-snap-align: start;
    scroll-margin-left: .25rem;
    cursor: pointer;

    border: var(--bs-nav-tabs-border-width) solid
      var(--bs-nav-tabs-border-color);
    font-family: var(--wp--preset--font-family--primary);
    font-size: var(--wp--preset--font-size--x-small);


    &.active {

      background-color: var(--wp--preset--color--white);
      border-bottom-color: var(--wp--preset--color--white);
      border-top-color: var(--wp--preset--color--orange);
      border-top-width: 3px;
      padding-top: calc(var(--bs-nav-link-padding-y) );
      padding-bottom: calc(var(--bs-nav-link-padding-y) + 2px);
      font-weight: var(--wp--custom--font-weight--bold);
      font-variation-settings: 'wght' 700;
      z-index: 2;
      position: relative;
    }
    &:not(.active) {
      background-color: var(--wp--preset--color--light);
      border-color: var(--wp--preset--color--white);
      margin-bottom: 1px;
      margin-top: 1px;
      color: var(--wp--custom--color--river);
      &:hover,
      &:focus {
        background-color: var(--wp--preset--color--white);
        border-color: var(--bs-nav-tabs-border-color);
        border-bottom-color: var(--wp--preset--color--white);
        color: var(--wp--preset--color--smokey);
      }
    }
  }

  .nav-item ~ .nav-item {
    margin-left: 0.3rem;
  }
}

.tab-content.main-tabs-content {
  color: var(--bs-nav-tabs-link-active-color);
  background-color: var(--wp--preset--color--white);

  margin-block-start: 0;
  //padding-block-start: 1.875rem;

  h2,
  h3,
  h4,
  h5 {

    line-height: 1.2;
  }
}
