.nav-tabs.main-tabs {
  align-items: flex-end;
  .nav-link {
    border: var(--bs-nav-tabs-border-width) solid
      var(--bs-nav-tabs-border-color);
    font-family: var(--wp--preset--font-family--primary);

    &.active {
      border-bottom-color: var(--bs-nav-tabs-link-active-bg);
      padding-top: calc(var(--bs-nav-link-padding-y) + 1px);
      padding-bottom: calc(var(--bs-nav-link-padding-y) + 1px);
      font-weight: 700;
      font-variation-settings: 'wght' 700;
    }
    &:not(.active) {
      background-color: #e5e5e5;
      border-bottom: none;
      font-size: 1rem;
      margin-bottom: 1px;
      margin-top: 1px;
      &:hover,
      &:focus {
        color: var(--wp--custom--color--river);
      }
    }
  }

  .nav-item ~ .nav-item {
    margin-left: 0.3rem;
  }
}

.tab-content.main-tabs-content {
  color: var(--bs-nav-tabs-link-active-color);
  background-color: var(--wp--preset--color--light);
  border-color: transparent var(--bs-nav-tabs-border-color)
    var(--bs-nav-tabs-border-color) var(--bs-nav-tabs-border-color);
  border-width: 1px;
  border-style: solid;

  margin-block-start: 0;
  padding-block-start: 1.875rem;

  h2,
  h3,
  h4,
  h5 {
    margin-top: 0;
    line-height: 1.2;
  }
}
