.widget {
  //  background-color: rebeccapurple;
  // padding-top: calc($spacer * 3);
  margin-bottom: $spacer;

  .widget-title {
    @extend .card-title;
    @extend .text-uppercase;
    margin-bottom: calc($spacer * 3);
  }
  .widget-wrap h2,
  .widget-wrap h3,
  .widget-wrap h4 {
    @extend .card-title;
    @extend .text-uppercase;
    margin-bottom: $spacer;
  }
  ul {
    @extend .list-unstyled;
    display: flex;
    flex-direction: column;
    row-gap: calc($spacer * 2);
    align-items: flex-start;
    .cat-item {
      //controls the look of archived categories on right hand side of page
      //   background-color: $utsmokey;
      //   padding: calc($spacer * 0.5);
      //   border-radius: 0.45rem;
      // margin: calc($spacer * 2) 0;
      width: fit-content;
      margin: 0;
      padding: 0;
      align-self: flex-start;

      a {
        border: 1px solid $utsmokey;
        border-radius: 0.3rem;
        color: #707070;
        text-decoration: none;
        padding: calc($spacer * 0.3) calc($spacer * 0.5);
        background-color: white;
        display: block;
        margin-right: auto;
        // width: min-content;
        // text-transform: uppercase;
        &:hover {
          background-color: #707070;
          color: white;
        }
      }
    }
    .children {
      margin-left: calc($spacer * 2);
      margin-top: calc($spacer * 2);
      font-size: 80%;
    }
  }

  input {
    @extend .form-control;
  }
  label {
    @extend .px-0;
  }
}
