.utkwds-section-nav-menu {
  display: none;
}

@media (min-width: 780px){
  .utkwds-section-nav-menu-mobile,
  .utkwds-section-nav-menu-mobile-button {
    display: none;
  }

  .utkwds-section-nav-menu {
    display: block;
  }
  
}