:root {
	--utk-breadcrumb--item--spacing-x: 0.5rem;
	--utk-breadcrumb--font-size: inherit;

	/* The following variables have their defaults set as custom property fallbacks
	* where they are used. The defaults below are for reference, or they can be uncommented
	* and given values to override the original defaults.
	*/

	/* --utk-breadcrumb--divider--content: '/'; */
	/* --utk-breadcrumb--divider--color: inherit; */
	/* --utk-breadcrumb--link-color: var(--wp--preset--color--link); */
	/* --utk-breadcrumb--link-hover-color: var(--wp--preset--color--link-hover); */
	/* --utk-breadcrumb--link-disabled-color: inherit; */
}

.utk-breadcrumbs {
	@at-root #{&}-wrapper {
		font-size: var(--utk-breadcrumb--font-size);
	}

	list-style: none;
	display: flex;
	flex-wrap: wrap;
	row-gap: 0.4rem;

	column-gap: var(--utk-breadcrumb--item--spacing-x);

	a:not([aria-current='page']) {
		&:link,
		&:visited {
			color: var(--utk-breadcrumb--link-color, var(--wp--preset--color--link));
		}

		&:hover,
		&:focus {
			color: var(
				--utk-breadcrumb--link-hover-color,
				var(--wp--preset--color--link-hover)
			);
		}
	}

	a[aria-current='page'] {
		color: var(--utk-breadcrumb--link-disabled-color, inherit);
		cursor: default;
		text-decoration: inherit;
	}

	> * {
		margin-left: 0;
	}

	/* There is no @supports rule for flexbox gap properties
	 * (it uses the same syntax as the more widely-supported grid gap).
	 * Browser support for `selector()` is roughly the same as support for
	 * flexbox gap, so we use that as a proxy for now.
	 */
	@supports not (selector(:first-of-type)) {
		> * + * {
			margin-left: var(--utk-breadcrumb--item--spacing-x, 0);
		}
	}

	> * + * {
		&::before {
			content: var(--utk-breadcrumb--divider--content, '/');
			// content: var(--utk-breadcrumb--divider--content, '/') / '';

			margin-right: var(--utk-breadcrumb--item--spacing-x, 0);

			color: var(--utk-breadcrumb--divider--color, inherit);
		}
	}
}
