/*!**********************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[4].use[1]!./node_modules/postcss-loader/dist/cjs.js??ruleSet[1].rules[4].use[2]!./node_modules/sass-loader/dist/cjs.js??ruleSet[1].rules[4].use[3]!./src/blocks/site-header/style.scss ***!
  \**********************************************************************************************************************************************************************************************************************************************************/
/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */
.universal-header {
  width: 100%;
}
.universal-header__inner {
  padding-top: 1.125rem;
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.universal-header__utility-nav {
  position: relative;
}
@media screen and (max-width: 1169px) {
  .universal-header__utility-nav {
    display: none;
  }
}
.universal-header__utility-nav .search-button-wrapper {
  position: relative;
}
.universal-header__utility-nav .search-button-wrapper .search-slider {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  align-items: center;
  justify-content: flex-end;
  font-size: 0.875rem;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: calc(100% + 0.5rem);
}
.universal-header__utility-nav .search-button-wrapper .search-slider.show {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
  transition: opacity 0.3s ease, visibility 0.3s ease;
}
.universal-header__utility-nav .search-button-wrapper .search-slider .form-inline {
  width: 320px;
}
.universal-header__utility-nav .search-button-wrapper .search-slider .form-inline .btn {
  padding: 0.25rem;
}
.universal-header__utility-nav .search-button:not([aria-expanded=true]) .hide-when-open {
  display: none;
}
.universal-header__utility-nav .search-button[aria-expanded=true] .hide-when-closed {
  display: none;
}
.universal-header__menu-open-button {
  align-items: center;
  color: var(--wp--preset--color--smokey);
  display: flex;
  font-size: 0.75rem;
  font-weight: 600;
  font-variation-settings: "wght" 550;
  line-height: 1;
  text-transform: uppercase;
}
.universal-header__menu-open-button button {
  background-color: transparent;
  border: none;
  color: currentColor;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
  text-decoration: inherit;
  text-transform: inherit;
  padding: 0.25rem;
  margin-right: -0.25rem;
  margin-left: -0.25rem;
  border-radius: 0.25rem;
  align-items: center;
  display: flex;
}
.universal-header__menu-open-button .search-icon {
  display: flex;
  align-items: center;
}
.universal-header__menu-open-button .search-icon svg {
  bottom: 0.02em;
  display: block;
  position: relative;
  stroke: currentColor;
  width: 1.1rem;
  height: 1.1rem;
}
.universal-header__menu-open-button .search-icon::before {
  content: "/";
  display: block;
  font-weight: 400;
}
.universal-header__menu-open-button .search-icon svg, .universal-header__menu-open-button .search-icon::before {
  margin-left: 0.25rem;
}
@media screen and (min-width: 1170px) {
  .universal-header__menu-open-button {
    display: none;
  }
}

.main-nav-menu-list {
  --utk-nav-menu--direction: column;
}

.main-menu-wrapper .offcanvas-header .btn-close {
  background-position-x: right;
  font-size: 0.75rem;
  font-weight: 600;
  font-variation-settings: "wght" 550;
  line-height: 1.1;
  margin-right: 0;
  padding-right: 1.5rem;
  text-transform: uppercase;
  width: auto;
}
.main-menu-wrapper .offcanvas-header .btn-close:hover {
  transform: scale(1.1);
}
.main-menu-wrapper .offcanvas-body .form-inline {
  margin: 1.5rem 0 1rem;
}

.menu-search-button {
  background-color: transparent;
  border: none;
}

.utk-nav-menu .collapsible-menu-item a,
.utk-nav-menu .collapsible-menu-item button {
  color: inherit;
  text-decoration: underline;
  text-decoration-color: transparent;
  transition: text-decoration-color 0.3s ease-out;
}
.utk-nav-menu .collapsible-menu-item a:hover, .utk-nav-menu .collapsible-menu-item a:focus,
.utk-nav-menu .collapsible-menu-item button:hover,
.utk-nav-menu .collapsible-menu-item button:focus {
  text-decoration-color: currentColor;
}
.utk-nav-menu .collapsible-menu-item:not(:first-of-type),
.utk-nav-menu .collapsible-menu-item > ul {
  position: relative;
  transition: padding 0.3s ease-out;
  padding-top: 0;
}
.utk-nav-menu .collapsible-menu-item:not(:first-of-type).collapsing, .utk-nav-menu .collapsible-menu-item:not(:first-of-type).show,
.utk-nav-menu .collapsible-menu-item > ul.collapsing,
.utk-nav-menu .collapsible-menu-item > ul.show {
  padding-top: 1em;
}
.utk-nav-menu .collapsible-menu-item ul {
  font-size: 1rem;
}

.search-button {
  background-color: transparent;
  border: none;
  color: currentColor;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
  text-decoration: inherit;
  text-transform: inherit;
  padding: 0.25rem;
  margin-right: -0.25rem;
  margin-left: -0.25rem;
  border-radius: 0.25rem;
  display: flex;
  -moz-column-gap: 0.4375rem;
       column-gap: 0.4375rem;
}

.search-slider input:focus {
  outline: Highlight auto 1px;
  outline: -webkit-focus-ring-color auto 1px;
}

/*# sourceMappingURL=style-index.css.map*/