// styling blog to be exactly the same as archive
.archive,
.blog {
  .sidebar-primary .widget {
    margin-top: 0;
    @include media-breakpoint-up(md) {
      margin-top: calc($spacer * 3);
    }
    &:first-of-type {
      margin-top: 0;

      @include media-breakpoint-up(md) {
        margin-top: calc($spacer * 18);
      }
    }
    .widget-title {
      margin-bottom: $spacer;
    }
  }
  .content {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-bottom: calc($spacer * 3);
    gap: calc($spacer * 3);
    @include media-breakpoint-up(xl) {
      flex-direction: row;
    }
    .archive-description {
      flex-basis: 100%;
    }

    .archive-title {
      margin-top: 0;
    }
    .post {
      //   box-shadow: 0px 5px 30px 0 #0000001a;
      background-color: $utgray1;
      border-top: 6px solid $utorange;
      margin: calc($spacer / 2);
      // border-radius: 0 0 30px 0;
      //   padding-top: calc($spacer * 8);
      // padding: calc($spacer * 8) calc($spacer * 3) calc($spacer * 3);
      padding: calc($spacer * 3) calc($spacer * 3) calc($spacer * 3);
      @include media-breakpoint-up(xl) {
        flex: 1 1 40%;

        // max-width: calc((100% / 2) - #{$spacer});
      }
      &:first-of-type {
        flex-basis: 100%;

        @include media-breakpoint-up(xl) {
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
          gap: $spacer;
          a {
            flex: 1 0 6%;
          }
          .entry-content {
            // img {
            //   // max-width: calc(50% - 3rem);
            //   // width: 100%;
            // }
            display: flex;
            flex-basis: 40%;
            flex-direction: column;
            margin-bottom: calc($spacer * 1.5);
            column-gap: calc($spacer * 3);
            // & > * {
            //   // flex-basis: 50%;
            // }
          }
          .entry-footer {
            flex-basis: 100%;
            width: 100% !important;
          }
        }
      }

      .entry-title {
        font-size: calc($h2-font-size * 0.6);
        margin: calc($spacer / 2) 0;
        line-height: 1.1;
        font-weight: $font-weight-bold;
        position: relative;
        // &:before {
        //   content: '';
        //   position: absolute;
        //   left: 0;
        //   width: 90px;
        //   margin-left: 0;
        //   height: 6px;
        //   background-color: $utorange;
        //   top: -3rem;
        //   bottom: auto;
        // }
      }
      .entry-content {
        display: flex;
        flex-direction: column;
      }
      img {
        width: 100%;
        //   padding: 0;
        margin-bottom: $spacer;
      }
      .entry-title-link {
        color: $utsmokey;
        text-decoration: none;
      }
      .entry-meta {
        time {
          font-size: var(--wp--custom--typography--tiny);
          text-transform: uppercase;
          margin-bottom: calc($spacer * 2);
          display: block;
          font-weight: $font-weight-light;
        }
      }
      .entry-content {
        margin-bottom: calc($spacer * 1.5);

        .entry-title a:hover {
          color: $utlinkriver;

          cursor: pointer;
        }
        .post-image {
          margin-bottom: calc($spacer * 3);
        }
      }
      .entry-footer {
        // @extend .orange-mark;
        position: relative;
        padding: calc($spacer * 1.5) 0;
        &:before {
          content: '';
          position: absolute;
          margin: 0 auto;
          width: 100%;
          height: 2px;
          background-color: $utgray2;
          bottom: auto;
        }
        p {
          margin-top: $spacer;
          .entry-categories {
            font-size: var(--wp--custom--typography--tiny);
            line-height: 2rem;

            a {
              border: 1px solid $utsmokey;
              border-radius: 0.3rem;
              color: #707070;
              text-decoration: none;
              padding: calc($spacer * 0.3) calc($spacer * 0.5);
              background-color: white;
              white-space: nowrap;

              //   text-transform: uppercase;
              &:hover {
                background-color: #707070;
                color: white;
              }
            }
          }
        }
      }
    }
    .pagination {
      flex-basis: 100%;
      ul {
        width: 100%;
        @extend .pagination;
        li {
          @extend .page-item;
          a {
            @extend .page-link;
          }
        }
      }
    }
  }
}
