.utk-breadcrumbs {
	// Uncomment and modify the custom properties below to override the default values
	// for the breadcrumb component.

	// --utk-breadcrumb--divider--content: '/';

	// --utk-breadcrumb--item--spacing-x: 0.5rem;
	// --utk-breadcrumb--item--spacing-y: 0;
	// --utk-breadcrumb--font-size: inherit;
	// --utk-breadcrumb--divider--color: inherit;
	// --utk-breadcrumb--link-color: var(--wp--preset--color--link);
	// --utk-breadcrumb--link-hover-color: var(--wp--preset--color--link-hover);
	// --utk-breadcrumb--link-disabled-color: inherit;
}
