// #content article >,
// #content article .entry-content > {
//   :not(.alignfull):not(.entry-content):not(.strip) {
//     width: calc(100% - 30px);
//     margin-right: auto;
//     margin-left: auto;

//     @media (min-width: 576px) {
//       max-width: 540px;
//     }
//     @media (min-width: 768px) {
//       max-width: 720px;
//     }
//     @media (min-width: 992px) {
//       max-width: 1060px;
//     }
//     @media (min-width: 1200px) {
//       max-width: 1540px;
//     }
//   }
// }
// helps control full-width and wide-width blocks
.site-container {
  width: 100%;
  overflow: hidden;
}

@media (min-width: 768px) {
  body.sidebar-content,
  body.content-sidebar {
    .content-sidebar-wrap {
      display: flex;
      justify-items: flex-start;
      align-items: flex-start;
      column-gap: calc($spacer * 4);
      // .widget-area {
      //   // flex: 1;
      // }
      main.content {
        flex: 3 1 auto;
        display: flex;
        column-gap: calc($spacer * 3);
        // margin-right: $spacer * 5;
        // border: 1px solid yellowgreen;
      }
    }

    body.sidebar-content {
      .content-sidebar-wrap {
        .widget-area {
          margin-right: 0;
        }
        main.content {
          order: 1;
          // margin-left: $spacer * 3;
        }
      }
    }
    body.content-sidebar {
      .content-sidebar-wrap {
        .widget-area {
          margin-right: 0;
        }
        // main.content {
        //   // margin-left: $spacer * 3;
        // }
      }
    }
  }
}
// remove the empty sidebar from bottom pages that are not using it
.page-template-default .sidebar-primary {
  display: none;
}
