#extended-footer {
  //	background-image: url('../i/mountains.svg');
  //	background-size: cover;
  margin-top: $spacer;
  padding-top: 4 * $spacer;
  padding-bottom: 4 * $spacer;
  //	a, h4 {
  //		color: $white;
  //	}
}
