.tab-pane {
	&.active {
		width: 100%;
	}
}

div#myTabContent {
	border-bottom: none;
}

.utk-site-search-form {
	display: flex;
	width: 100%;
	flex-wrap: wrap;
	gap: 10px;

	@media screen and (min-width: 600px) {
		flex-wrap: nowrap;
	}

	.form-floating {
		position: relative;
		width: 100%;

		> .form-control {
			display: block;
			width: 100%;
			height: calc(3.5rem + 2px);
			line-height: 1.25;
			padding: 1rem 0.75rem;

			font-size: 1rem;
			color: #212529;
			background-color: #ffffff;
			background-clip: padding-box;
			border: 1px solid #949494;
			border-radius: 0.375rem;
			appearance: none;

			&:focus {
				color: #212529;
				background-color: #ffffff;
				border-color: #1a73c5;
				outline: 0;
				box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
			}

			&::placeholder {
				color: transparent;
			}

			&:focus,
			&:not(:placeholder-shown) {
				padding-top: 1.625rem;
				padding-bottom: 0.625rem;
			}

			&:focus ~ label,
			&:not(:placeholder-shown) ~ label {
				opacity: 0.65;
				transform: scale(0.8) translateY(-0.5rem) translateX(0.15rem);
			}

			&[type="search"] {
				--bs-form-search-bg-img: url("data:image/svg+xml,%3Csvg xmlns=%27http://www.w3.org/2000/svg%27 width=%2716%27 height=%2716%27 fill=%27currentColor%27 class=%27bi bi-search%27 viewBox=%270 0 16 16%27%3E%3Cpath d=%27M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0%27/%3E%3C/svg%3E");

				padding-right: 45px;
				background-color: var(--bs-body-bg);
				background-image: var(--bs-form-search-bg-img),
					var(--bs-form-search-bg-icon, none);
				background-repeat: no-repeat;
				background-position: right 15px center;
				background-size: 16px 16px;

				&::-webkit-search-cancel-button {
					position: relative;
					-webkit-appearance: none;
					width: 16px;
					height: 16px;
					right: -10px;
					padding-right: 7px;
					background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='18' height='18' viewBox='0 0 18 18' fill='none'%3E%3Cpath d='M2.37414 3.30934C2.15816 3.09336 2.15816 2.7432 2.37414 2.52722C2.59012 2.31124 2.94029 2.31124 3.15627 2.52722L8.8487 8.21966L14.5411 2.52722C14.7571 2.31124 15.1073 2.31124 15.3233 2.52722C15.5392 2.7432 15.5392 3.09336 15.3233 3.30934L9.63083 9.00178L15.3233 14.6942C15.5392 14.9102 15.5392 15.2604 15.3233 15.4763C15.1073 15.6923 14.7571 15.6923 14.5411 15.4763L8.84871 9.78391L3.15627 15.4763C2.94029 15.6923 2.59012 15.6923 2.37414 15.4763C2.15816 15.2604 2.15816 14.9102 2.37414 14.6942L8.06658 9.00178L2.37414 3.30934Z' fill='%234B4B4B'/%3E%3C/svg%3E");
					background-repeat: no-repeat;
					border-right: 1px solid #d9d9d9;
					transform: translateY(-50%);
				}
			}
		}

		> label {
			font-size: 1.1rem;
			position: absolute;
			top: 0;
			left: 0;
			z-index: 2;
			height: 100%;
			padding: 1rem 15px;
			overflow: hidden;
			text-align: start;
			text-overflow: ellipsis;
			white-space: nowrap;
			pointer-events: none;
			border: var(--bs-border-width) solid transparent;
			transform-origin: 0 0;
			transition:
				opacity 0.1s ease-in-out,
				transform 0.1s ease-in-out;
		}
	}

	.button-submit {
		height: 58px;
		padding: 0 20px !important;
		word-break: normal;
		width: 100%;

		@media screen and (min-width: 600px) {
			width: auto;
		}

		&:hover {
			background-color: var(--wp--custom--color--river);
			border-color: var(--wp--custom--color--river);
			color: var(--wp--preset--color--white);
		}
	}
}

#utk-site-search-results {
	.utk-search-information {
		font-size: 0.99rem;
		padding: 2rem 0 1rem;
		border-bottom: 1px solid #d9d9d9;
	}

	.utk-search-item {
		padding: 2rem 0;
		border-bottom: 1px solid #d9d9d9;

		> h5 {
			margin: 0 0 1rem;
		}
		> p {
			margin: 0;
		}
	}
}

#utk-site-search-pagination {
	margin-top: 2rem;

	.page-link {
		font-weight: bold;
		font-size: 1.1rem;
		margin: 0 0.65rem;

		&.current {
			color: #fff;
			background: #1a73c5;
			padding: 8px 16px;
			border-radius: 6px;
		}

		&:nth-child(1) {
			margin-left: 0;
		}
	}
}

/*************
Header Search
*************/

.form-inline {
	.input-group {
		display: flex;
		align-items: stretch;
	}

	input[type="search"] {
		background-color: #f6f6f6;
		border: none;
		border-radius: 0;
		border-left: 6px solid var(--wp--preset--color--orange);
		flex: 1 1 auto;
		font-size: inherit;
		line-height: 1;
		padding: 0.5rem 0.875rem;

		&::placeholder {
			font-size: inherit;
			color: #212529;
		}

		& + .btn {
			border-color: rgba(75, 75, 75, 0.6) rgba(75, 75, 75, 0.6)
				rgba(75, 75, 75, 0.6) transparent;
			border-width: 1px;
			background-color: var(--wp--preset--color--smokey);
			flex-shrink: 0;
			font-size: inherit;
			font-family: var(--wp--preset--font-family--primary);
			font-weight: var(--wp--custom--font-weight--regular);
			width: 7.5em;
			padding-inline-start: 0.5rem;
			padding-inline-end: 0.5rem;

			svg {
				stroke: white;
				width: 100%;
				height: 100%;
			}
			.button-inner {
				display: flex;
				gap: 0.44rem;
				align-items: center;
			}
		}

		&:focus {
			box-shadow: none;
		}
	}
}
