$utcoolsmokey: #313e48;
$spacer: var(--wp--preset--spacing--40);

header.site-header .universal-footer {
  background-color: $utcoolsmokey;
  border-top: calc( 0.45 * $spacer) solid var(--wp--preset--color--orange);
}
header.site-header .utk-identifier{
  border-top: calc(0.45 * $spacer) solid var(--wp--preset--color--orange);
}

.site-footer .universal-footer {
  background-color: $utcoolsmokey;
  border-top: 100px solid var(--wp--preset--color--orange);
}

@media screen and (min-width: 768px) {
  .utk-identifier {
    background-color: lighten($utcoolsmokey, 10%);
    z-index: 1;
    padding: 2rem 1.9rem;
    margin-top: -50px;
  }
}

footer.site-footer.wp-block-template-part {
  //margin-block-start: 0px;
}

#universal-footer img{
  max-width: 300px;
  margin-bottom: var(--wp--preset--spacing--60);
  margin-top: var(--wp--preset--spacing--20);
}

#utk_footer_logo {
  max-width: 300px;
  margin-bottom: var(--wp--preset--spacing--60);
}

.site-footer .wrap {
  padding: var(--wp--preset--spacing--40) 0;
  //fixes copyright hitting the footer UT address section
}
